:root {
    --clr-bg-blue: #0e20c0;
    --clr-header-blue: #0063B2FF;
    --clr-bg-white: #FCF6F5FF;
    --clr-text-white: #FCF6F5FF;
}

* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.h2 .h3 {
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-size: 14px;
}

hr {
    margin: auto;
    color: var(--clr-text-white);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resume-a-tag {
    text-decoration: none;
    color: var(--clr-text-white);
}

.resume-a-tag:hover {
    color: var(--clr-text-white);
    text-decoration: underline;
}

.resume-wrapper {
    display: flex;
}

.personal-sidebar {
    background-color: var(--clr-bg-blue);
    color: var(--clr-text-white);
    border-left: 1px solid black;
}

.profile-picture { 
    width: 60%;
    display: flex;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0.5rem;
    border: 3px solid var(--clr-bg-blue);
}

.education-tag {
    color: var(--clr-text-white);
    font-size: medium;
    font-weight: 300;
    font-style: italic;
}

.experience-company,
.experience-title,
.pro-skills-col-name,
.header-body {
    color: var(--clr-bg-blue);
}

.experience-timestamp {
    font-style: italic;
}

.main-body {
    background-color: var(--clr-bg-white);
    height: 100%;
    border-right: 1px solid black;
}

.profile-main {
    margin-top: 1rem;
}

.personal-sidebar,
.main-body {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}